<div class="row">
    <h1 id="tituloeduca">Formación educativa</h1>
    <div class="col-lg-11">
        <br>
        <ul>
            <li>
                <h3>Programador Fullstack Argentina Programa 4.0</h3> - <h5>2023</h5>
            </li>
        </ul>

        <ul>
            <li>
                <h3>Técnico Superior en Gastronomía </h3> - <h5>2008</h5>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Titulo Secundario bachiller orientado a Turismo</h3> - <h5>204</h5>
            </li>
        </ul>

        <ul>
            <li>
                <h3>Curso de instalaciones eléctricas</h3> - <h5>2002</h5>
            </li>
        </ul>
    </div>
    </div>
    
