<div class="row">
<h1 id="tituloexper">Experiencia Laboral</h1>
<div class="col-lg-11">
    <br>
    <ul>
        <li>
            <h1>Haimovich Paraná - Toyota </h1> - <h4>Actualmente</h4>
        <p>
            Mis funciones son administrativo y atención al público en mostrador.

            Las tareas que realizo además incluyen atención telefónica, manejo de consultas y compras por Whatsapp, realización de pedidos a fábrica, control de cuentas corrientes, cotización y presupuestos. Gestión y venta mediante Mercado Libre, Control de stock
            
            En este tiempo dentro de la empresa he podido gestionar y reducir tiempos en la reposición y reparación en dos sectores claves generando valor y un incremento del 20% en recaudación.
        </p>
        </li>
    </ul>
    <ul>
        <li>
            <h1>Escobar Santa Fe - Ford </h1> - <h4>2015-2020</h4>
        <p>
            Mis funciones fueron de administrativo y asesor de repuestos para vehículos de la marca.

            Mis tareas consistían, entre otras, en la elaboración de presupuestos para todas la compañías de seguro y cotización online. Pedidos a Fábrica, Preparación y envío de pedidos dentro y fuera de la provincia.
            Control de stock e ingreso de autopartes al sistema.
            Facturación y manejo de cuentas corrientes.
            Encargado de logística en el sector.
        </p>
        </li>
    </ul>
    <ul>
        <li>
            <h1>Bombonería Paraná</h1> - <h4>2010 - 2015</h4>
        <p>
            Mis actividades consistían en Asesoramiento, atención al público y venta en mostrador de productos alimenticios respetando las normas de higiene. Reposición de mercadería, Control de Pedidos y de Vencimientos.
        </p>
        </li>
    </ul>
    <ul>
        <li>
            <h1>Walmart Argentina S.A. </h1> - <h4>2010 - 2011</h4>
        <p>
            Me desenvolví en el puesto de Cajero mediante la cooperativa de trabajo Manpower.
        </p>
        </li>
    </ul>
</div>
</div>
