<div class="row">
    <h1>HABILIDADES</h1>
        <div class="text-center col-sm-3 col-md-3 col-lg-3">
            <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'TEAM WORK'"
            [titleColor]="'black'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'cyan'"
            [innerStrokeColor]="'cyan'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [title]="'IDIOMA'"
    [titleColor]="'black'"
    [showSubtitle]="false"
    [showUnits]="false"

    [outerStrokeWidth]="13"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'cyan'"
    [innerStrokeColor]="'cyan'"
    [animation]="true"
    [animationDuration]="900"
></circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [title]="'ADAPTABILIDAD'"
    [titleColor]="'black'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="13"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'cyan'"
    [innerStrokeColor]="'cyan'"
    [animation]="true"
    [animationDuration]="900"
></circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="20"
    [radius]="100"
    [outerStrokeWidth]="13"
    [title]="'PROGRAMACIÓN'"
    [titleColor]="'black'"
    [subtitleFontSize]="'2op'"
    [subtitle]="'en apredisaje'"
    [subtitleColor]="'black'"
    [showSubtitle]="true"
    [showUnits]="false"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'cyan'"
    [innerStrokeColor]="'cyan'"
    [animation]="true"
    [animationDuration]="900"
></circle-progress>
</div>
</div>
