<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/logoINSTA.png" id="instagram"></a>
            <a href=""><img src="../../../assets/logoTWITT.png" id="twitter"></a>
            <a href=""><img src="../../../assets/logoFACE.png" id="facebook"></a>
            <a href=""><img src="../../../assets/logoGITHUB.png" id="github"></a>
            <button type="button" class="btn btn-danger">INGRESAR</button>

        </div>
    </div>
</div>

